/*
  menu__section
	========================================================================== 
*/

.header-section__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 250px;
    width: 100%;
    background-color: #afafaf;
    margin-top: 0.5rem;
}

.header-section__header {
    padding: 1rem 0 0.5rem;
}

.header-section__title {
    margin-top: 1rem;
}

.item {
    border-bottom: 1px solid $secondary-color;
}

.item__content {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 115px;
}

.item__name,
.item__name-desc,
.item__price {
    display: inline-block;
}

.item__price {
    text-align: right;
    vertical-align: top;
}

.item__ul {
    margin: 0;
    padding: 0;
}

.content-info {
    margin-bottom: 1.5rem;
}

.menu-bottom-text {
    padding: 1rem 0;
}

@media (min-width: $break-m) {
    .menu {
        padding-top: 5rem;
    }

    .section-menu {
        padding-top: 4rem;
    }

    .header-section__image {
        height: 350px;
    }
}

@media (min-width: $break-l) {
    .menu {
        padding-top: 2rem;
    }
}
@media (min-width: $break-xl) {
    .header-section__image {
        height: 400px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: $break-xl) {
    .menu {
        padding-top: 0rem;
    }
}
