//  color profile:  orange #ff0100; black #000; White #fff;

/*
  Variables
	========================================================================== 
*/

// Main Color
$primary-color: #ee1f01;
$secondary-color: #000;
$tertiary-color: #fff;
$link-selection-color: #fcd8a2;

// Breakpoints

// Extra Small devices
$break-xs: 375px;
// Extra Small devices
$break-s: 500px;
// Medium devices
$break-m: 768px;
// Large devices
$break-l: 992px;
// Extra large devices
$break-xl: 1200px;
// Extra large devices
$break-xxl: 1600px;
